@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(15px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}